/* @font-face {font-family: 'rs-regular'; src: url('../fonts/RobotoSlab-Regular-webfont.eot'); src: url('../fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Regular-webfont.woff') format('woff'), url('../fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'), url('../fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg'); font-weight: normal; font-style: normal; }

		html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}

body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
b,strong {font-weight: bold;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;} */

/* Helper classes*/

.hidden {display: none !important;visibility: hidden;}
.invisible {visibility: hidden;}

.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.si-table {clear: both;display: table;width: 100%;background-color: #efefef;}
.si-table-tr{display: table-row;}
.si-table-tr.active,
.si-table-tr.active .si-table-td.si-gold, .si-table-tr.active .si-table-td.si-bronze {
  background-color: #bcdfff;
}

.si-table-th{display: table-cell;vertical-align: middle;}
.si-table-td{display: table-cell;vertical-align: middle;}

/**ie right widget**/
  .si-medal-tally{ height: 273px; }
	.si-medal-tallyWrap {font-family: "rs-regular",sans-serif; /*margin: 50px auto; max-width: 300px;*/ } 
  .si-right-head {border: 1px solid #d5d5d5; border-left: none; border-bottom: none; } 
  .si-tally-head {display: table; width: 100%; } 
  .si-left-head, .si-right-head {display: table-cell; height: 38px; vertical-align: middle; } 
  .si-left-head {background-color: #4faa33; color: #fff; padding-left: 10px; text-transform: uppercase; width: 66.66%; font-size: 16px; } 
  .si-tally-body .si-table-th.si-country {background-color: #67ba4d; color: #fff; text-align: left; padding-left: 5px; } 

  .si-table-th.si-gold {background-color: #ffd74a; } 
  .si-table-th.si-silver {background-color: #dcdcdc; } 
  .si-table-th.si-bronze {background-color: #927463; } 
  .si-table-th.si-total {background-color: #67ba4d; } 

  .si-tally-body .si-table-th{text-align: center; text-transform: capitalize; font-size: 14px; } 
  .si-tally-body .si-table-th,.si-tally-body .si-table-td{height: 30px; } 
  .si-tally-body .si-table-td {text-align: center; text-transform: uppercase; font-size: 13px; position: relative; } 
  .si-tally-body .si-table-td.si-country {padding-left: 5px; text-align: left; } 
  .si-table-td.si-country img {height: 18px; left: 10px; margin-top: -9px; position: absolute; top: 50%; width: 28px; } 
  .si-content-wrapper.si-scroll{ height: auto; overflow-y: auto; }
  .heading .si-country {width: 52%; }
  .content .si-flag{ width: 10%; }
  .content .si-country{ width: 42%; }
  .si-gold, .si-silver, .si-bronze, .si-total {width: 12%; }
  .si-flag img{ width: 22px;}
  .si-table-th.si-gold, .si-table-th.si-silver{color:#5a5a5a; } 
  .si-table-th.si-bronze {color: #fff; } 
  .si-table-td.si-gold,.si-table-td.si-bronze {background-color: #fff; } 
  .event-block-wrap {color: #fff; display: table; width: 100%; } 
  .event-item {display: table-cell; height: 55px; padding: 0 8px; vertical-align: middle; } 
  .event-text, .event-no {display: inline-block; } 
  .event-text {font-size: 12px; text-transform: capitalize; width: 57%; } 
  .event-no {width: 40%; font-size: 32px; } 
  .event-item:first-child {background-color: #e74c3c; } 
  .event-item:last-child {background-color: #c0392b; }