.layout-noright .layout-left {
	display: none;
}

.label, .badge {
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #999999;
}
.label {
	padding: 1px 4px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.fa-2 {
  font-size: 2em;
}
.fa-3 {
  font-size: 4em;
}
.fa-4 {
  font-size: 7em;
}
.fa-5 {
  font-size: 12em;
}
.fa-6 {
  font-size: 20em;
}
h1 {
	padding: 2%;
	width: 96%;
}
div.results_container {
	float: left;
	width: 100%;
}
#more_result {
	display:none;
}
li.newItem {
	display:none;
}
ul.results{
	list-style-type:none;margin:0;padding:0;
}
ul.results>li{
	margin-bottom:1em;
	border-bottom: 1px rgb(158, 158, 158) dotted;
	padding-bottom: 1em;
}
ul.results h3.res-title{
	padding:0;margin:0;font-size:1.3em;
}
ul.results h3.res-title a{
	color:#396EA2;
	font-weight:bold;
	text-decoration:none;
}
ul.results h3.res-title a:hover{
	text-decoration:underline;
}
ul.results .res-date, ul.results .res-detail {
	display:inline;
}
ul.results .res-date {
	font-weight: bold;
}

ul.results .res-addres a {
	color:#567e18;
}
ul.results .record-icon{
	float:left;
	padding: 2px 4px;
	margin:5px 5px 0 0;
	text-transform:uppercase;
	text-shadow:1px 1px #666;
	width: 40px;
	text-align: center;
}
/*specific colors*/
ul.results .record-icon.excel { background-color:#3d8f64;}
ul.results .record-icon.pdf { background-color:#e74d38;}
ul.results .record-icon.ppt { background-color:#e96547;}
ul.results .record-icon.word { background-color:#4e78b7;}

/*Topic box*/
.options_container,
#info-src {
	display:none;
	background-color: #C4C4C4;
	width:70%;
	position: fixed;
	right: 0px;
	top: 0px;
	/* height: 100%; */
	z-index: 99;
	overflow-y: auto;
	padding-bottom:100px;
}
div.options_container a.close,
#info-src a.close
{
/* 	float: right;
	margin-right:10px;
	color:#fff; */
	background-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	text-decoration: none;
	margin: 2%;
	padding: 11px;
	float: right;
}
div.options_container h3,
#info-src h3
{
	margin: 25px 0px 10px 5px;
	font-weight:bold;
	color: #fff;
}

#info-src ul {
	list-style-type:none;
	padding: 0px 15px 10px 10px;
}

#info-src ul li {
	list-style-type:none;
	color:#000;
	float: left;
	width: 100%;
}

#info-src ul li a{
	text-decoration:none;
	color:#000;
	background-color:#fff;
	float: left;
	width: 100%;
	padding: 1px 15px 2px 2%;
	width: 95%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#info-src ul li a.resetTopic {
	position: absolute;
	margin: 5px 0px 0px -15px;
	width: auto;
	padding:0;
}

#info-src ul li a:hover,
#info-src ul li.active a
{
	background-color:#9C9C9C;
}
#info-src ul li.level2 {
	padding-left: 5%;
	width: 95%;
}

div.options_container a.options_form_reset,
.reset-link 
{
	display:none;
	font-weight: inherit;
	text-decoration: none;
	line-height: inherit;
	color: #000;
	float:right;
	padding: 5px 0px;
	width: auto;
	margin: 0px 10px 0px 0px;
}
a.options_form_reset:hover,
.reset-link:hover 
{
	background-color: #CACACA;
}

div.tool_container ,
div.button_container 
{
	text-align: center;
	float: left;
	width: 100%;
	height: 50px;
	clear: both;
	opacity: 1;
}
div.tool_container  {
	overflow:hidden;
	width: 96%;
	margin: 0% 2% 10px;
	height:auto;
}
div.tool_container:first-child {
	margin: 10px 2%;
}

div.tool_container a ,
div.button_container a 
{ 
	background-color: #E6E6E6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#000;
	text-decoration:none;
	width: 96%;
	margin: 2%;
	padding: 5px 0px;
	float: left;
}
div.tool_container a {
	width: 100%;
	margin: 0%;
}	
div.tool_container a:hover,
div.button_container a.open,
div.button_container a:hover
 { 
	background-color: #CACACA;
}

div.button_container a.close{
	float: right;
	margin:0 10px;
	width: auto;
	text-decoration: underline;
	padding:0px;
}
div.button_container a.close:hover {
	background-color: transparent;
}
div.innertools_container div.tool_container a i.opener  
{
	float: right;
	margin-right: 15px;
}
div.innertools_container div.tool_container a i.opener  
{
	margin-right: 25px;
}
/* div.options_container {
	padding-bottom: 20px;
} */
div.innertools_container {
	overflow:hidden;
	width: 100%;
	clear: both;
}

div.innertools_container div.tool_container a {
	background-color:#fff;
	padding-left: 10px;
	text-align:left;
}
div.button_container#search_container {
	text-align: left;
	width: 100%;
}




input#search_field {
	text-indent: 5px;
	background-color: #fff;
	border: 1px solid #797979;
	border-right: 0;
	padding: 0px 0px 2px 0px;
    margin: 12px 0 5px 2%;	
	height: 24px;
	line-height: 24px;
	width: 85%;
	outline: 0 solid transparent;
}
/*HACK CHROME SEARCH BUTTON*/
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	input#search_field {
		padding: 0;
	}
}

button#search_button {
	margin-left:-5px;
	cursor: pointer;
	background-image: none;
	border: 1px solid #797979;
	white-space: nowrap;
	padding: 5px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius:  0px 4px 4px 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.innertool_container {
	float:left;
	width:100%;
	text-align: left;
	background-color:#fff;
	padding: 5px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.tool_container.open div.innertool_container {
	display:block;
}
div.innertools_container  div.tool_container.open a {
	background-color: #C0C0C0;
}

/*
 #path {
	display:block;	
}
#accessibility-menu {
	display:none !important;	
} 
*/

h1 {
	display:none !important;	
}

/*filter*/
.controls input {
	float: left;
	margin-left: 10px;
}
.controls select {
	width:65%;
	margin-left: 10px;
}
.controls input[type="radio"] {
	clear: left;
	margin: 5px;
}
.controls label {
	float: left;
	margin: 1px 0px 0px 10px;
	min-width: 25%;
}
input[type="radio"]:checked+label{ font-weight: bold; } 

#f-more_options_date .fragment .form-inline {
	float:left;
	margin: 5px 0px; 
	clear: both;
	
}
#f-more_options_date .fragment .form-inline input {
	margin: 0px 2%;
	/* width: 44%; */
}
#f-more_options_date .fragment .form-inline label {
	/* display:none;	 */
	min-width: 25%;
	margin: 1px 0px 0px 1px;
}
#f-more_options_date .fragment .form-inline .back.tooltips {
	display:none;
}

.sidebar {
	top: 0;
	width: inherit;
	background-color: #fff;
	z-index:97;
	-webkit-backface-visibility: hidden;
}


#search_form {
	width:75%;
	float:left;
	z-index:96;
}
div.button_container#search_container 
{
	background-color:#E6E6E6;
}
div.button_container#search_container a 
{
	width: auto;
	padding: 11px;
	margin: 0px;
	position: relative;
}

/*BUTTON BADGE*/
div.button_container#search_container a span
{
	position: absolute;
	width: 13px;
	height: 13px;
	background:url("../img/btn-more-filter.png") no-repeat;
	right: 4px;
	top: 8px;
}

/* search */
/* 
div.button_container#update_container {
	height: auto;
} 
*/
div.button_container#update_container input{
	background-color: #fff;
	border: 1px solid rgb(169, 169, 169);
	cursor: pointer;
	padding: 5px;
}
div.button_container#update_container input:hover{
	border-color:#6D6D6D;
}



#indicator {
	display:none;
    background: none repeat scroll 0 0 #333;
    bottom: 0;
    height: 100%;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
}
#indicator > img {
	padding : 100px 0 0 ;
}

#overlayer-panel {
	z-index: 97;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #030303;
	width: 100%;
	opacity: 0;
}
.hidden {
	display:none;
}


.opanel {
  height: 100%;
  overflow: hidden;
}
/*not available in the language*/
.language-listing li {
	list-style-type: none;
	float: left;
	width: 25%;
	margin-top: 2em;
	text-transform: capitalize;
}
.language-listing li .flag {
	background: #ffffff;
	border: 1px solid #396ea2;
	width: 2em;
	display: block;
	line-height: 1.4em;
	float: left;
	text-align: center;
	margin-right: 0.5em;
	text-transform: lowercase;
}

/*did you mean*/
.didyoumean .label {
	padding: 5px 25px 6px 12px;
	margin-right: 5px;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* background: -webkit-linear-gradient(#bc1e1d, #8f1b1c);
	background: -o-linear-gradient(#bc1e1d, #8f1b1c);
	background: -moz-linear-gradient(#bc1e1d, #8f1b1c);
	background: linear-gradient(#bc1e1d, #8f1b1c); */
}
/*SPECIAL FIX CSS EUROPA RESPONSIVE*/
@media all and (max-width:768px) /* TABLET */
{
	.js .layout-noright .layout-wrapper, .js .layout-noright .layout-content {
		margin: 0;
	}

	.js #accessibility-menu {
		display:none;	
	}
}

@media all and (max-width:600px)
{	
	.js #accessibility-menu {
		display:block;	
	} 
}

@media all and (max-width: 475px) {
	input#search_field 
	{
		width: 75%;
	}
	
	#search_form {
		width: 70%;
	}
}

@media all and (max-width: 375px) {	
	.controls label {
		/* width: auto; */
		min-width: 25%;
		margin: 1px 0px 0px 1px;
	}
	
	.controls select {
		margin: 0px 0px 0px 10px;
		float: right;
	}
}
@media all and (max-width: 240px) {
	input#search_field 
	{
		width: 70%;
	}
	#search_form {
		width: 70%;
	}
}

@media all and (min-width: 769px) {
	#search_form {
		width:auto;
		float:none;
	}

	div.options_container,
	#info-src {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #E6E6E6;
		display:block;
		position: relative;
		right: 0px;
		top: 0px;
		height: 100%;
		z-index: 99;
		overflow-y: auto;
		float: left;
		width: 96%;
		margin: 2%;
		padding-bottom:20px;
	}
	div.options_container h3,
	#info-src  h3 {
		color:#000;
		text-align:center;
		margin: auto;
		font-weight: normal;
	}
	.options_container a.close ,
	#info-src  a.close{
		display:none;
	}
	.layout-left {
		width:300px;
	}
	.sidebar {
		top: 0;
		width: inherit;
	}
	.layout-content {
		margin:0px;
		padding:0px;
	}
	div.tool_container {
		height:auto !important;
	}
	
	div.tool_container:first-child {
		margin: 0% 2% 10px;
	}
	
	div.innertool_container {
		display: block;
		background-color:transparent;
		padding: 0px;
	}
	
	div.innertool_container .controls label {
		width:100%;
		display:block;
		margin: 0px;
		width: auto;

	}
	
	div.innertool_container  .controls select {
		width:100%;
		height: 24px;
		margin-left:0px
	}
	#f-more_options_date .fragment .form-inline label {
		display: inline;
		width: 50px;
	}
	#f-more_options_date .fragment .form-inline input {
		margin: 0px 5px;
		width: 130px;
	}
	#date_to_block {
		clear: left;
		display: block;
	}
	
	input#search_field {
		margin: 0px 0 15px 6px;
	}
	.fixed input#search_field {
		margin: 15px 0 15px 6px;
		width: 244px;
	}
	html.sideFixed .fixed input#search_field.sideFixed {
		width:80%;
	}
	
	html.sideFixed .layout-footer ul {
	    margin: 0px 0px 0px 300px;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0)
	{
		.fixed input#search_field {
			width: 249px;
		}
	}
	
	div.button_container#search_container {
		background-color:#FFF;
	}
	
	/*search option*/
	#topic_filter {
		display:none;
	}
	
	
	h1 {
		display:block !important;	
		padding: 5px;
	}
		
	.layout-footer {
		display:block;
	}
}