@import url(https://fonts.googleapis.com/css?family=Open+Sans:600); 
.chaseui-search-subtitle
{
	font-family: Open Sans;
	font-weight: 600;
	color: #414042;
	}
	
a.chaseui-search-list-title
	{
	font-family: Open Sans;
	font-weight: 600;
	color: #126BC5;
	}

.chaseui-search-list-content	
	{
	font-family: Open Sans;
	color: #414042;
	}
ul.chaseui-search-list .chaseui-search-list-item
{
	border-bottom: 1px solid #CCCCCC;
}
div.chaseui-search-hr
{
	border-bottom: 1px solid #CCCCCC;
}
.main-content-section ul.chaseui-linklist li a
	{
	font-family: Open Sans;
	font-weight: 600;
	color: #126BC5;
	}
a.sliding-door-button.chaseanalytics-track-link.chaseui-search-linkset
	{
	font-family: Open Sans;
	font-weight: 600;
	color: #126BC5;
	}
#searchfieldresult
{
border-color: #9C9C9C #C1C1C1 #C1C1C1;
    border-style: solid;
    border-width: 2px 1px 1px;
    color: #727272;
    display: block;
    font-family: Open Sans;
    height: 21px;
    padding: 2px 0px 3px 10px;
	margin-top: -5px;
	border-radius: 5px;
}
a.chaseui-search-pagination
{
	font-family: Open Sans;
	color: #126BC5;
	padding-left: 2px;}
	
.chaseui-search-page-right	
{
	font-family: Open Sans;}
.chaseui-search-page-left
{
	font-family: Open Sans;}	
a.chaseui-search-pagination.selected
{color: #414042;}	

.search-section input{border-radius:5px;}