#hl_1 {
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    background: #fff;
    margin: 10px 0 20px 0;
}

.hl_header {
    display: inline;
    font: normal 32px 'Open Sans Condensed','Helvetica Narrow', arial, helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: baseline;
    margin: 10px 0 20px 0;
}

.hl-product {
   display:inline-block;
   vertical-align:top;
   padding-top: 10px;
   flex-shrink: 0;
   height: 100%;
   position: relative;
   margin-top: 20px;
}

.hl-product .item-container {
   display: block;
}

.hl-product .item-img {
    max-width: 240px;
    text-align: center;
    position: relative;
}
.hl-product .item-img>img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.hl-product .rating  {
    display: inline-block;
    vertical-align: middle;
    width: 59px;
    height: 13px;
    overflow: hidden;
    background: url('//dnisjsqid2b9p.cloudfront.net/ClientPaths/newegg/images/spr_base.png') no-repeat;
}

.hl-product .item-rating-num  {
    margin-left: 5px;
    color: #707070 !important;
    vertical-align: middle;
}

.hl-product .item-title {
    height: 3.88em;
    overflow: hidden;
    display: block;
    margin-bottom: 6px;
    max-width: 512px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3;
    word-break: normal;
    text-overflow: ellipsis;
}

.hl-container{
   margin-right:7.5px;
   padding:0 8px;
}

.hl-product .price-was{
    display: block;
    height: 15px;
    overflow: hidden;
    color: #707070;
    line-height: 15px;
    text-decoration: line-through;
}

.hl-product .price-map{
    display: none;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    margin-top: 4px;
}

.hl-product .price-current{
    font-size: 24px;
    height: 36px;
}

.hl-product .price-save{
    margin-bottom: 5px;
    height: 15px;
    color: #C1240B;
}

.hl-product .price-note{
    display: block;
    margin-bottom: 5px;
    height: 15px;
}

.hl-product .price-ship{
    display: block;
    margin-bottom: 5px;
    height: 18px;
    overflow: hidden;
}
.hl-cents{
    margin-left:-5px;
}

.hl-dollar{
    margin-left:-5px;
}

.hl-prevarrow:hover {
    color: #FEB13A;
}

.hl-prevarrow{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    position:absolute;
    cursor:pointer;
    top: 50%;
    z-index: 10;
    margin-top: -80px;
    width: 30px;
    height: 160px;
    color: #222;
    font-size: 48px;
    line-height: 160px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    left: -30px;
}

.hl-nextarrow:hover {
    color: #FEB13A;
}

.hl-nextarrow {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    position:absolute;
    cursor:pointer;
    top: 50%;
    z-index: 10;
    margin-top: -80px;
    width: 30px;
    height: 160px;
    color: #222;
    font-size: 48px;
    line-height: 160px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    right: -30px;
}

.hl-dots-container {
    font-size: 0;
    position: absolute;
    text-align: center;
    transition: .3s;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.hl-bullet{
    margin: 0 2px;
    opacity: 0.87;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    border: 1px solid #222;
    display: inline-block;
    border-radius: 100%;
    background: #000;
}

.hl-bullet.active{
    background: #fff;
}