/*
updated 11/7/16 - MG-NYC
created 9/26/14 - MG-NYC
*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.eot");
  src: url("/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/reg/ProximaNova-Reg-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular-it';
  src: url("/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.eot");
  src: url("/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/reg/ProximaNova-RegIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot");
  src: url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot");
  src: url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold-it';
  src: url("/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.eot");
  src: url("/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/semibold/ProximaNova-SboldIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.eot");
  src: url("/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/bold/ProximaNova-Bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.eot");
  src: url("/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/bold/ProximaNova-BoldIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url("/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.eot");
  src: url("/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/light/ProximaNova-Light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltlight-it';
  src: url("/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.eot");
  src: url("/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/light/ProximaNova-LightIt-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova_ththin';
  src: url("/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.eot");
  src: url("/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/thin/ProximaNova-Thin-webfont.svg#proxima_nova_ththin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ththin';
  src: url("/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.eot");
  src: url("/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.eot?#iefix") format("embedded-opentype"), url("/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.woff") format("woff"), url("/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.ttf") format("truetype"), url("/medcss/fonts/proximanova/thin/ProximaNova-ThinIt-webfont.svg#proxima_novathin_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

/*Global resets to mimic screen*/
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: arial, sans-serif;
  font-size: 76%;
  min-width: 980px;
  text-align: center;
}
.spacer {
  clear: both;
  font-size: 1px;
  line-height: 1px;
}
.footerspacer {
  clear: both;
  font-size: 1px;
  line-height: 1px;
}
.topspacer {
  clear: both;
  font-size: 1px;
  line-height: 1px;
}
.row {
  clear: both;
}
#bodypadding {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  font-family: arial, sans-serif;
  font-size: 1.05em;
  text-align: left;
}

/*COMMON ELEMENTS*/
.inactive {
  display: none;
}
.active {
  display: block;
}
a:link {
  color: #004276;
  text-decoration: none;
}
a:visited {
  color: #5757a6;
  text-decoration: none;
}
a:hover {
  color: #24a2dd;
  text-decoration: underline;
}
a:active {
  color: #004276;
  text-decoration: none;
}
p {
  margin: 0 0 12px 0;
  padding: 0;
}
#spnamehide {
  display: none;
}

/*Ads*/

/*************************************
  Header Styles
************************************/

#specialtyDropDown, #speciltyDD_title, #specialtyDD_listbox, #learningCenters,  #topSubNav, #topSubNav2 {display:none;}



#headerbox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 980px;
 }
#headerborder {
  border: #b3b3b3 solid 1px;
    border-bottom:0;
}
#headerbox .spacer {
  height: 0px;
}
#headerbottom {
  /*border-top: 1px solid #d4d4d4;*/
  border-bottom: 1px solid #d4d4d4;
}
#headerbottom  *{
 display:none;
}
#headertopright {
display:none;
}

.header_splink {
  font-weight: bold;
  padding-right: 10px;
  /*background: url(/pi/global/icons/icon-specialty_arrow.png) no-repeat right center;*/
}
.headertopleft {
  float: left;
  width: 640px;
  text-align: left;
  padding: 15px 0 8px 15px;
}

#ms_splogo {
  background-image:none;
  height: 36px;
  width: 160px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
#ms_splogo .inactive {
  display:block;
}
#ms_splogo .inactive img {
  width:157px;
  height:36px;
}

a#ms_splogo:hover {
  text-decoration: none;
}
#headerSpecialty {
  float: left;
  padding-top: 3px;
}
#headerDate {
  padding-top: 10px;
  font-size: 15px;
  font-family: 'proxima_nova_ltsemibold', arial;
}
#currentSpecialty {
  font-size: 28px;
  font-family: 'proxima_nova_ltlight', arial;
  background: url(/pi/global/ornaments/icon-headersp-dd.png) no-repeat right center;
  padding: 0 15px 0px 0;
  display: inline;
  text-transform: uppercase;
}
#currentSpecialty.plain {
  background-image: none;
}
.bg_title {
  background: url("/pi/global/1024/bg-header-dots.png") repeat-x bottom;
}
.bg_title span {
  background-color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}



/* THO|Cardiology */
#headerbox.cardiology #headertop {
  /*background: #8d1600 url("/pi/global/ornaments/bg-tho-cardiology-header.png") repeat-y;*/
}
#headerbox.cardiology .headertopleft {
  padding: 9px 0 8px 15px;
}
#headerbox.cardiology #ms_splogo {
  background-image:none;
  height: 42px;
  width: 302px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.cardiology #ms_splogo .inactive img {
  width:302px;
  height:42px;
}

#headerbox.cardiology #headerSpecialty {
  padding-top: 13px;
}
#headerbox.cardiology #currentSpecialty {
  font-size: 24px;
  /*background: url("/pi/global/ornaments/icon-headersp-cardio-dd.png") no-repeat right center;*/
  background-image:none;
  color: #000;
}
#headerbox.medscape_edu.cardiology #topSubNavList .navlinkstart, #headerbox.medscape_edu.cardiology #topSubNavList2 .navlinkstart {
  padding: 0 50px 0 0;
}
#headerbox.medscape_edu.cardiology #topSubNavList .navlink, #headerbox.medscape_edu.cardiology #topSubNavList2 .navlink {
  padding: 0 50px 0 9px;
}
#headerbox.medscape_edu.cardiology #topSubNavList .navlinkend a {
  background: none;
}
#headerbox.cardiology #specialtyDropDown {
  margin-left: -145px;
}
/*.isIE8 */#headerbox.cardiology #specialtyDropDown {
 *border:#dedede solid 1px;
 border:#dedede solid 1px\0;
  margin:-145px\145;

}
/*************************************
  Header Styles
************************************/

/*************************************
  Footer styles
*************************************/
#adtagfooter {
  border: none;
  background: #fff;
  padding: 6px 0;
}
#footerBG {
  /*background:url(/pi/global/ornaments/bg-footer.png);
  -webkit-box-shadow:0px 2px 10px #666 inset;
  box-shadow:0px 2px 10px #666 inset;
  -moz-box-shadow:0px 2px 10px #666 inset;*/
  padding: 15px 0;
}
#footerbar a {
  color: #000;
  font-weight: bold;
}
#footerbar {
  margin: 0 0 10px 0;
  padding: 6px 0;
}
#footerbar ul, #footer_socialLinks ul {
  margin: 0;
  padding: 0;
  list-style: none inside none;
}
#footerbar ul li {
  font-size: 0.85em;
  padding: 8px;
  display: inline;
  color: #000;
}
.footernavstart {
}
.footernav {
}
.footernavend {
}
.legaltext {
  color: #797979;
  font-size: 0.85em;
  text-align: center;
}
.legaltext p {
  text-align: left;
  width: 980px;
  margin: auto;
  margin-top: 20px;
}
#footer_socialLinks {
  width: 140px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
overflow: hidden;
}
#footer_socialLinks ul li {
  float:left;
}
#footer_socialLinks ul li a {
  width: 25px;
  height: 25px;
  display: block;
  background: url("/pi/global/icons/icons-footer-socialMedia.png") no-repeat;
    background-size: 160px 44px;
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:192dpi) {

    #footer_socialLinks ul li a {
    background: url("/pi/global/icons/icons-footer-socialMedia@2x.png") no-repeat;
    background-size: 160px 44px;
    }
}

#footer_fb {
}

#footer_fb:hover {
    background-position: 0 -25px;
}
#footer_socialLinks ul li a#footer_twit {
  background-position: -25px 0;
}
#footer_socialLinks ul li a#footer_twit:hover {
    background-position: -25px -25px;
}
#footer_socialLinks ul li a#footer_goog {
  background-position: -50px 0;
}
#footer_socialLinks ul li a#footer_goog:hover {
    background-position: -50px -25px;
}
#footer_socialLinks ul li a#footer_li {
  background-position: -75px 0;
}
#footer_socialLinks ul li a#footer_li:hover {
    background-position: -75px -25px;
}

#footer_socialLinks ul li a#footer_rss {
    width:38px;
    line-height:17px;
    text-transform:uppercase;
    text-decoration:underline;
    color:#797979;
    font-family:arial;
    background-image:none;
    font-weight:500;
}
#footer_socialLinks ul li a#footer_rss:hover {
    color:#ccc;
}
/*************************************
  Footer styles
*************************************/


/* New Chrome Styles - hide everything but the logo and legal text */

.resp-container {
  width: 100%;
  max-width:1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.page-header a,
.page-header a:link,
.page-header a:visited,
.page-header a:hover,
.page-header a:active {
  color: inherit;
}

.header-row-top,
.header-row-bottom,
.header-specialty-menu,
.user-menu,
.header-date,
.page-footer .footer-intl,
.page-footer .footer-global,
#layer-logout-confirmation,
.header-specialty-toggle,
.header-layer {
  display: none;
}

.header-row-middle {
	margin-bottom:2rem;
}

.header-logo {
	height: 2.5rem;
	z-index: 300;
}

.header-logo img {
    height: 2.5rem;
}
.footer_legal-text {
    font-family: "proxima_nova_rgregular", sans-serif;
    width: 500px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: .75rem;
    line-height: 1.3;
    text-align: center;
    color: #767674;
    padding-bottom: 2.5rem;
}

