/* This is a local css with styles used depending on locale */ 
/* Last modified by CENG on 2016-06-13 at 14:00 */ 

.newImgSmall { width:2.755em; /*27px;*/ height:1.224em; /*12px;*/ }

.newImgLarge { width:4.79em;/*46px;*/ height:1.88em;/*18px;*/ }
.leftNavigation .navigationBlock .productItem .newImgSmall { float:left; margin-right:0.83em; /*8px*/ margin-top:0.94em; /*9px;*/ }
.leftNavigation .navigationBlock .productItem .prodNameNewImg { float:left; width:78%; /*154px;*/ padding:1.04em 0; }

/* new image small on eCom page and search results */
.rightContent .productsContainer .productContainer .newImgSmall {
left: 0.0em !important;
}

/* This is used on the shopping list page */
#slWelcomeContainer { height: 150px; }

/* This removes the store selector bar from local store pages */
#storeHeaderContainer { display:none; }

/* These are used on the homepage */
.adWideImageContainer, .adWideFlashContainer { float: left; }
#middle_mgen, #bottom_mgen { width: 100%; height: 255px; display: block; }
#top_mpa { height: 330px; width: 100%; margin-bottom: 3px; }

/* These are used for positioning the elements in the Offer Headers ads correctly */
.offerImage { float:left; }
.offerLegal { position:relative; left:523px! important; width:130px; top:-35px! important; }
.whiteText { color:white; }

/* This is used on the local store pages to make more room for the orange header text */
.localStoreContainer.smallheader1 { margin-top: 0px; }


/*-- cart mods
#ikeaFamilyCommunicationModule {
height: 185px !important;
}

#ikeaFamilyCommunicationModule img {
float: none !important;
margin: 0px !important;
max-width: 100% !important;
}

#ikeaFamilyCommunicationHref{
display:none !important;
}

#ikeaFamilyCommunicationHeader {
display:none !important;
}

#ikeaFamilyCommunicationBodyText {
margin:0px !important;
}

#moreInfoBoxE, #moreInfoBoxF{
margin-top:44px !important;
*margin-top: 0px !important;	
}
--*/

/*-- hide stock notification tool--*/
div.sc_body div#stock_notification {display:none !important;}

/*-- #cartAddProductRow #addProductBox {
height: 139px !important;
}
--*/

/*-- delivery calendar mods
#timeslotDayHeading_0:before {
content: "Monday\A";
white-space: pre;
}
#timeslotDayHeading_1:before {
content: "Tuesday\A";
white-space: pre;
}
#timeslotDayHeading_2:before {
content: "Wednesday\A";
white-space: pre;
}
#timeslotDayHeading_3:before {
content: "Thursday\A";
white-space: pre;
}
#timeslotDayHeading_4:before {
content: "Friday\A";
white-space: pre;
}
#timeslotDayHeading_5:before {
content: "Saturday\A";
white-space: pre;
}
#timeslotDayHeading_6:before {
content: "Sunday\A";
white-space: pre;
}
--*/

/*-- Promo code: hide end date field
#cartMain #promotionsDescText {
display: none;
}
--*/


/*-- hide contact me btn
#creditErrorTier .btnContainer {
display: none !important;
}
 --*/
/*-- extend contact me text spacing
#creditErrorTier .creditErrorTierTextContactMe {
width: auto !important;
}
 --*/