




 

























@font-face{font-family:'HPSimplified';src:url(/ca/en/images/fonts/v2-0/hps-euro-w01-regular-eot.eot); src:url(/ca/en/images/fonts/v2-0/hps-euro-w01-regular-eot.eot?#iefix) format('embedded-opentype'),  url('/ca/en/images/fonts/v2-0/hps-euro-w01-regular-woff.woff') format('woff'), url('/ca/en/images/fonts/v2-0/hps-euro-w01-regular-ttf.ttf') format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'HPSimplified';src:url(/ca/en/images/fonts/v2-0/hps-euro-w01-bold-eot.eot); src:url(/ca/en/images/fonts/v2-0/hps-euro-w01-bold-eot.eot?#iefix) format('embedded-opentype'),  url('/ca/en/images/fonts/v2-0/hps-euro-w01-bold-woff.woff') format('woff'), url('/ca/en/images/fonts/v2-0/hps-euro-w01-bold-ttf.ttf') format('truetype');font-weight:bold;font-style:normal}
