.wait_class{display:none;position:absolute;top:0;left:0}.wait_class div{background:url(/ca/en/images/i/common/i-pre-sm-hpe.gif) no-repeat scroll 0 0 transparent;height:32px;margin-left:auto;margin-right:auto;position:relative;top:45%;width:32px}.wait_class.spooler_dark div{background:url(/ca/en/images/i/common/i-pre-sm-hpe.gif) no-repeat scroll 0 0 transparent}.wait_class.active{display:block}.layer{background-color:white;display:none;opacity:0.7;filter:alpha(opacity=70);position:absolute;top:0;left:0;z-index:100}.layer.active{display:block}.spooler_wrapper_650{position:absolute;width:650px;height:80px}

/*
Date: 10/26/2015 6:06:18 PM
All images published
*/
